*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul li{
 list-style: none;
 display: inline;
 padding: 2rem;
}

.navLink{
    text-decoration: none;
   }

form div{
padding-bottom: 1rem;
}
 form input{
     padding: .5rem;
     width: 50%;
 }
.admin{
margin-top: 5rem;
}