ul{
 /* display: inline; */
}
ul li{
 list-style: none;
 display: inline;
 padding: 1rem;
}

.navLink{
    text-decoration: none;
   }

form div{
padding: .5rem;
}
 form input{
     padding: .5rem;
 }